










<%if @hotelhash != nil and @check == nil then%>


  <%counterbinary = 0%>
  <% counter = 0 %>

<% if counter < 100 then %>


    <%if @hotelhash != nil && @check == nil then%>






<div id="wrapper">



  <div id="sidebar-wrapper">
   <ul class="sidebar-nav" id ="filters">


<%number = [['5',4],['10',9],['15',14],['25',24],['50',49]]%>

<%= label_tag(:filterresults, "Number of Results") %>
<%= select_tag(:filterresults,options_for_select(number,@filterresults))%>

<div></div>
<%= label_tag(:pricebox, "Price Per Night") %>
<div id="pricebox">

     <li><div class="checkbox">
      <label>

<%= check_box_tag(:pricea,true,checked=@pricea)%>
<%= label_tag(:pricea, "$0-$100") %>
</label>
   </div></li>

   <li><div class="checkbox">
    <label>
 <%= check_box_tag(:priceb,true,checked=@priceb) %>
<%= label_tag(:priceb, "$101-$200") %>

    </label>
  </div></li>


  <li><div class="checkbox">
    <label>
 <%= check_box_tag(:pricec,true,checked=@pricec) %>
<%= label_tag(:pricec, "$201-$300") %>

    </label>
  </div></li>


  <li><div class="checkbox">
    <label>
 <%= check_box_tag(:priced,true,checked=@priced) %>
<%= label_tag(:priced, "$301-$400") %>
    </label>
  </div></li>


  <li><div class="checkbox">
    <label>
 <%= check_box_tag(:pricee,true,checked=@pricee) %>
<%= label_tag(:pricee, "$401-$500") %>

    </label>
  </div></li>



  <li><div class="checkbox">
    <label>
 <%= check_box_tag(:pricef,true,checked=@pricef) %>
<%= label_tag(:pricef, "$500+") %>
    </label>
  </div></li>

</div>


<%= label_tag(:brandbox, "Hotel Chains") %>
<div id="brandbox">

  <li><div class="checkbox">
    <label>
 <%= check_box_tag(:whotels,true,checked=@whotels) %>
<%= label_tag(:whotels, "W Hotels") %>
    </label>
  </div></li>

<li><div class="checkbox">
    <label>
 <%= check_box_tag(:hyatt,true,checked=@hyatt) %>
<%= label_tag(:hyatt, "Hyatt") %>
    </label>
  </div></li>

<li><div class="checkbox">
    <label>
 <%= check_box_tag(:waldorf,true,checked=@waldorf) %>
<%= label_tag(:waldorf, "Waldorf Astoria") %>
    </label>
  </div></li>


<li><div class="checkbox">
    <label>
 <%= check_box_tag(:sheraton,true,checked=@sheraton) %>
<%= label_tag(:sheraton, "Sheraton") %>
    </label>
  </div></li>


<li><div class="checkbox">
    <label>
 <%= check_box_tag(:westin,true,checked=@westin) %>
<%= label_tag(:westin, "Westin") %>
    </label>
  </div></li>


<li><div class="checkbox">
    <label>
 <%= check_box_tag(:hilton,true,checked=@hilton) %>
<%= label_tag(:hilton, "Hilton") %>
    </label>
  </div></li>


<li><div class="checkbox">
    <label>
 <%= check_box_tag(:fourseasons,true,checked=@fourseasons) %>
<%= label_tag(:fourseasons, "Four Seasons") %>
    </label>
  </div></li>


<li><div class="checkbox">
    <label>
 <%= check_box_tag(:radissonblu,true,checked=@radissonblu) %>
<%= label_tag(:radissonblu, "Radisson Blu") %>
    </label>
  </div></li>


<li><div class="checkbox">
    <label>
 <%= check_box_tag(:stregis,true,checked=@stregis) %>
<%= label_tag(:stregis, "St. Regis") %>
    </label>
  </div></li>


<li><div class="checkbox">
    <label>
 <%= check_box_tag(:renaissance,true,checked=@renaissance) %>
<%= label_tag(:renaissance, "Renaissance") %>
    </label>
  </div></li>






</div>



</ul>
</div>


<div id="page-content-wrapper">
  <div class="page-content">
   <div class="container">
     <div class="row">



      <div class="col-md-12">





        <div class="panel-group col-md-8 col-md-offset-2 column" id="resultsform"><a

          href="/">Return to Search</a>
        </div>





                            <!-- ##%@hotelhash = @hotelhash['HotelListResponse']['HotelList']['HotelSummary'].sort_by{|

zebra| zebra["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"]} %>

!-->

<%weatherinfo = 0%>







<%@hotelhash = eval(@hotelhash.to_s)%>
<%@get_latlong= eval(@get_latlong.to_s)%>


<%@hotelhash2 = []%>





<%search_a = 0%>
<%search_b = 0%>
<%search_c = 0%>
<%search_d = 0%>
<%search_e = 0%>
<%search_f = 0%>
<%brand_search = 0%>



<%if @firstformtoggle == 1%>



      <%@hotelhash['HotelListResponse']['HotelList']['HotelSummary'].each do |hotelsearch| %>

             <%if hotelsearch == nil then else%>

                       <%@hotelhash2.push(hotelsearch)%>

              <%end%>

       <%end%>


<%else%>

        <%@hotelhash['HotelListResponse']['HotelList']['HotelSummary'].each do |hotelsearch| %>

               <%if hotelsearch == nil then else%>


                     <%@priceactual = hotelsearch["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"].to_i%>



              <% case when @priceactual.to_f.between?(0,100) && @price_a == 1  then search_a = 1 else search_a=0%>
              <%end%>

              <% case when @priceactual.to_f.between?(101,200) && @price_b == 1  then search_b = 1 else search_b=0%>
              <%end%>

                <% case when @priceactual.to_f.between?(201,300) && @price_c == 1  then search_c = 1 else search_c=0%>
            <%end%>

                  <% case when @priceactual.to_f.between?(301,400) && @price_d == 1  then search_d = 1 else search_d=0%>
              <%end%>

                  <% case when @priceactual.to_f.between?(401,500) && @price_e == 1  then search_e = 1 else search_e=0%>
              <%end%>

                    <% case when @priceactual.to_f.between?(501,20000) && @price_f == 1  then search_f = 1 else search_f=0%>
                <%end%>

               <%@chain = eval("\"" + @get_latlong.find{|i| i["EANHotelID"].to_i == hotelsearch["hotelId"]}["ChaincodeID"] + "\"")%>

          <%@brands = @brandstring.include? @chain%>
              <%if @brands == true then brand_search = 1 else brand_search = 0 end %>



                <%if @pricechecked == true and @brandchecked == true then%>
                        <%if (search_a + search_b + search_c + search_d + search_e + search_f) >= 1 and brand_search == 1 then %>
                        <%@hotelhash2.push(hotelsearch)%>
                <%end%>
                <%end%>

                    <%if @pricechecked == false and @brandchecked == true then%>
                      <% if brand_search == 1 then %>
                      <%@hotelhash2.push(hotelsearch)%>
                      <%end%>
                      <%end%>


                       <%if @pricechecked == false and @brandchecked == false then%>
                        <%@hotelhash2.push(hotelsearch)%>
                      <%end%>

                          <%if @pricechecked == true and @brandchecked == false then%>
                           <%if (search_a + search_b + search_c + search_d + search_e + search_f) >= 1 then%>
                        <%@hotelhash2.push(hotelsearch)%>
                      <%end%>
                      <%end%>









               <%end%>

        <%end%>

        <%end%>







<%@hotelhash2[0..@filterresults.to_i].sort_by{|zebra| zebra['tripAdvisorReviewCount'].to_i}.reverse!.each do |zebra|%>




<% @LAT = @get_latlong.find{|i| i["EANHotelID"].to_i == zebra["hotelId"]}["LAT"]%>
<% @LONG = @get_latlong.find{|i| i["EANHotelID"].to_i == zebra["hotelId"]}["LONG"]%>

<input type="hidden" name="LAT" id="LAT" value = "<%=@LAT%>">
<input type="hidden" name="LONG" id="LONG" value = "<%=@LONG%>">

<%hotelweather = []%>

<% if DateTime.strptime(@checkin,'%m/%d/%Y')-15 < Date.today %>

<%weatherinfo = 1%>
<%weatherurl ="http://api.openweathermap.org/data/2.5/forecast/daily?lat=#{@LAT}&lon=#{@LONG}&cnt=16&APPID=d6b355ed174cb0591af8ebcc4f5de038"%>


<%require 'open-uri'%>
<%weather_search2 = URI.encode(weatherurl)%>
<%weatherjsonfeed = open(weather_search2).read%>
<%@weatherhash = JSON.parse(weatherjsonfeed)%>


<%datelookup = []%>

<%@weatherhash["list"].each do |dates|%>

<%datelookup.push({'date' => dates["dt"],'icon' => dates["weather"][0]["icon"],'desc' => dates["weather"][0]["description"],'max' =>(((dates["temp"]["max"].to_f)-273.15)*1.8+32).round(0),'min' => (((dates["temp"]["min"].to_f)-273.15)*1.8+32).round(0),'dateconverted' => DateTime.strptime(dates["dt"].to_s,'%s').strftime('%m/%d/%y')})%>

<%end%>


<% hotelweather = datelookup.select {|date| DateTime.strptime(date["dateconverted"],'%m/%d/%y')>= DateTime.strptime(@checkin,'%m/%d/%Y') && DateTime.strptime(date["dateconverted"],'%m/%d/%y') <= DateTime.strptime(@checkout,'%m/%d/%Y')}%>

<%else%>

<%hotelweather.push({'max' => 1000})%>

<%end%>



<% if hotelweather[0]["max"] >= @temp.to_i then%>



<%counterbinary=1%>




<form id="accordion<%=counter%>" action="/essentials/hoteldetails" method="post" >





  <a href="javascript:{}" onclick="document.getElementById('accordion<%=counter%>').submit();waitingDialog.show('Searching for Rooms...');setTimeout(function () {waitingDialog.hide();}, 30000);ga('send', 'event','Rooms', 'Click', 'Booking'); return false;" style="color:black">



    <div class="panel-group col-md-8 col-md-offset-2 column" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">

      <div class="panel-heading" role="tab" id="heading<%=counter%>">

       <h4 class="panel-title">
         <dl>


          <div class="media">
            <div class="media-left media-middle col-xs-12">
             <span class="price col-xs-12">$<%= zebra["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"].to_i.round(0)%><span class="pricesmall"> rate per night</span></span>


             <div class="media-left"><img class="media-object" src="http://media.expedia.com<%= zebra["thumbNailUrl"].sub("_t","_d")%>">  </div>



             <div class="media-body" style="padding-bottom:0px">


              <h4 class="media-heading"><dt><%= zebra["name"].html_safe%> </dt></h4>


              <dd><%= zebra["city"]%></dd>


              <%zebra["locationDescription"].gsub! '&gt;','>'%>
              <%zebra["locationDescription"].gsub! '&lt;','<'%>



              <dd><%= zebra["locationDescription"].html_safe%></dd>
              <dd ><%= zebra["hotelRating"]%>

                <dd ><%= if zebra["supplierType"] != "E" then "Online Only!" end%></dd>



                <%i = 1 %>

                <%while i <= zebra["hotelRating"] do%>

                <i class="fa fa-star starrating"></span></i>
                <%i = i + 1%>
                <%end%>

                <%if zebra["hotelRating"].floor == zebra["hotelRating"]%>

                <%else%>
                <i class="fa fa-star-half-o starrating"></i>
                <%end%>
              </dd>

              <%zebra["shortDescription"].gsub! '&gt;','>'%>
              <%zebra["shortDescription"].gsub! '&lt;','<'%>



              <% shortdesc = zebra["shortDescription"].html_safe %>
              <%=shortdesc[23..-1].html_safe %> <span style="color:blue">...More</span>
              <!-- <dd><%= zebra["hotelId"]%></dd>  !-->
                                            <!--<dd><a href=<%= zebra["deepLink"]%> style="color:black">Book

                                            Now</a></dd>!-->



                                          </div>


                                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=counter%>"aria-

                                            expanded="false" aria-controls="collapse<%=counter%>" style="color:black">

                                            <%if weatherinfo==1%>
                                            <dd style="padding-top:22px">What is the weather forecast?</dd>
                                            <%end%>

                                          </div>

                                        </dl>


                                      </a>


                                    </div>



                                    <div id="collapse<%=counter%>" class="panel-collapse collapse" onClick="ga('send', 'event',

                                      'Weather', 'Click', 'Weather');" role="tabpanel" aria-labelledby="heading<%=counter%>">
                                      <div class="panel-body">


                                        <%if weatherinfo==1%>
                                        <table class="table">
                                          <%hotelweather.each do |weather|%>
                                          <tr><td><dt>
                                            Date: <%=weather["dateconverted"]%>
                                            <b>High: <%=weather["max"]%> (F)</b>
                                            <b>Low: <%=weather["min"]%> (F)</b>
                                            <img src="http://openweathermap.org/img/w/<%=weather["icon"]%>.png"></dt></td></tr>
                                            <%end%>
                                          </table>
                                          <%end%>

                                        </div>
                                      </div>


                                      <%counter = counter + 1%>

                                      <input value = <%= zebra["hotelId"]%> name="hotelid" type="hidden">



                                    </div>

                                  </div>

                                </a>
                              </a>

                              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                            </form>

                            <%else%>

                            <%end%>

                            <%end%>

                            <%end%>

                            <%end%>



                            <div class="col-md-6">

                            </div>

                            <%if counterbinary==1 then %>
                            <div class="panel-group col-md-8 col-md-offset-2">
                              <p>All displayed prices exclude Tax Recovery Charges and Service Fees</p>

                              <div id="map-canvas" style="height:600px">
                              </div>


                            </div>
                            <%end%>


                          </div>




                        </div>
                      </div>



                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <%end%>

                                    <input value ="<%=@checkin%>" name="checkin" id="checkin" type="hidden">
                                      <input value ="<%=@checkout%>" name="checkout" id="checkout" type="hidden">
                                      <input value ="<%=@adults%>" name="adults" type="hidden">
                                      <input value ="<%=@children%>" name="children" type="hidden">
                                      <input value ="<%=@age1%>" name="age1" type="hidden">
                                      <input value ="<%=@age2%>" name="age2" type="hidden">
                                      <input value ="<%=@age3%>" name="age3" type="hidden">
                                      <input value ="<%=@hotelhash%>" name="hotelhash" id="hotelhash" type="hidden">
                                      <input value ="<%=@get_latlong%>" name="get_latlong" id="get_latlong" type="hidden">
                                      <input value ="<%=@filterresults%>" name="filterresults" id="filterresults" type="hidden">
                                      <input value ="<%=@pricea%>" name="@pricea" id="@pricea" type="hidden">
                                      <input value ="<%=@priceb%>" name="@priceb" id="@priceb" type="hidden">
                                      <input value ="<%=@pricec%>" name="@pricec" id="@pricec" type="hidden">
                                      <input value ="<%=@priced%>" name="@priced" id="@priced" type="hidden">
                                      <input value ="<%=@pricee%>" name="@pricee" id="@pricee" type="hidden">
                                      <input value ="<%=@pricef%>" name="@pricef" id="@pricef" type="hidden">
                                      <input value ="<%=@whotels%>" name="@whotels" id="@whotels" type="hidden">
                                      <input value ="<%=@hyatt%>" name="@hyatt" id="@hyatt" type="hidden">
                                      <input value ="<%=@waldorf%>" name="@waldorf" id="@waldorf" type="hidden">
                                      <input value ="<%=@fourseasons%>" name="@fourseasons" id="@fourseasons" type="hidden">
                                      <input value ="<%=@hilton%>" name="@hilton" id="@hilton" type="hidden">
                                      <input value ="<%=@radissionblu%>" name="@radissionblu" id="@radissonblu" type="hidden">
                                      <input value ="<%=@renaissance%>" name="@renaissance" id="@renaissance" type="hidden">
                                      <input value ="<%=@sheraton%>" name="@sheraton" id="@sheraton" type="hidden">
                                      <input value ="<%=@stregis%>" name="@stregis" id="@stregis" type="hidden">
                                      <input value ="<%=@westin%>" name="@westin" id="@westin" type="hidden">







                                      <input value ="<%=@brandstring%>" name="@brandstring" id="@brandstring" type="hidden">
                                      <input value ="<%=@chainid%>" name="chainid" id="chainid" type="hidden">






<script>
  $("#filters").change(function(){


    var checkin = document.getElementById('checkin').value;
    var numresults = document.getElementById('filterresults').value;
    var hotelhash = document.getElementById('hotelhash').value;
    var get_latlong = document.getElementById('get_latlong').value;
    var chainid = document.getElementById('chainid').value;
    var checkout = document.getElementById('checkout').value;

    var pricea = document.getElementById('pricea').checked;
    var priceb = document.getElementById('priceb').checked;
    var pricec = document.getElementById('pricec').checked;
    var priced = document.getElementById('priced').checked;
    var pricee = document.getElementById('pricee').checked;
    var pricef = document.getElementById('pricef').checked;
    var hyatt = document.getElementById('hyatt').checked;
    var whotels = document.getElementById('whotels').checked;
    var waldorf = document.getElementById('waldorf').checked;
    var fourseasons = document.getElementById('fourseasons').checked;
    var hilton = document.getElementById('hilton').checked;
    var radissonblu = document.getElementById('radissonblu').checked;
    var renaissance = document.getElementById('renaissance').checked;
    var sheraton = document.getElementById('sheraton').checked;
    var stregis = document.getElementById('stregis').checked;
    var westin = document.getElementById('westin').checked;




var brandstring =[]
    if(hyatt==1) { brandstring.push('65');}
    if(whotels==1) {brandstring.push('706');}
    if(waldorf==1) {brandstring.push('2194');}
    if(fourseasons==1) {brandstring.push('2130');}
    if(hilton==1) {brandstring.push('2146');}
    if(radissonblu==1) {brandstring.push('2431');}
    if(renaissance==1) {brandstring.push('15');}
    if(sheraton==1) {brandstring.push('130');}
    if(stregis==1) {brandstring.push('2045');}
    if(westin==1) {brandstring.push('152');}


    var url = "/essentials/filter";
    var firstformtoggle = 0;

    $.ajax({
      type: 'POST',
      url: url,
      dataType:'script',
      data: {hotelhash: JSON.stringify(hotelhash),get_latlong:get_latlong,checkin:checkin,checkout:checkout,filterresults:numresults,pricea:pricea,priceb:priceb,pricec:pricec,priced:priced,pricee:pricee,pricef:pricef,firstformtoggle:firstformtoggle,brandstring:brandstring,chainid:chainid,whotels:whotels,hyatt:hyatt,waldorf:waldorf,fourseasons:fourseasons,hilton:hilton,radissonblu:radissonblu,renaissance:renaissance,sheraton:sheraton,stregis:stregis,westin:westin}
       });
 });


  </script>
