
<style>
.container img {
    width:auto;
    height:20px;

}

body{  font-family: 'Lato', sans-serif;}

.jumbotron2
    {

        height:350px;
        font-size:80px;
         font-weight: 900;
         background-color:#336666;
         color:white;
         background-image:url("/assets/bondi2.JPG");
 background-size: cover;
    }



.talldiv {height:200px;
}
.short_div {

    height:100px;
}
.matchpadding{padding-top:50px;
  }




.price{font-size:30px;
  font-weight:900px;
text-align:right;
float:right;

}


.pricesmall{font-size:12px;
  font-weight:900px;}


@media (max-width: 767px) {
    .navbar-nav > li > a  {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.errorhandling {
color:red;
}

.bottompadding {border-top:50px;}
.starcolor {font:red;}
.totalprice {font-size:20px;
            font-weight:900px;
            }

.carousel .item {
    background:#F9F9F9;
    border:1px solid #E0E0E0;
    overflow:hidden;
    margin-bottom:1em;
    margin-top:1em;
    padding:5px;
}
.carousel-inner > .item > img {
    border: 1px solid #DDDDDD;
    float: center;
    margin: 0pt 3px;
    padding: 2px;
    height: none;
    width:  100%;
}

.carousel-inner > .item > img:hover {
    border: 1px solid #000000;
}

.peopleCarouselImg img {
  width: auto;
  height: 425px;
  max-height: 425px;
}

.amenities {font-size:13px;
            padding-top:10px;
            padding-bottom:20px;}

.list-inline{display:block;}
.list-inline li{display:inline-block;}
.list-inline li:after{content:'|'; margin:0 10px;}
.list-inline li:last-child:after {content: '';}

</style>





















<div class="container-fluid">


<!-- Hotel Details Response http://jsonviewer.stack.hu/#http://api.ean.com/ean-services/rs/hotel/v3/avail?cid=55505&minorRev=28&apiKey=cbrzfta369qwyrm9t5b8y8kf&locale=en_EN&currencyCode=USD&customerIpAddress=10.187.20.19&customerUserAgent=Mozilla/5.0+(Windows+NT+6.1)+AppleWebKit/537.36+(KHTML,+like+Gecko)+Chrome/42.0.2311.135+Safari/537.36&customerSessionId=0ABAAA4E-3EF4-5B91-4D42-AAC276090292&xml=<HotelRoomAvailabilityRequest><hotelId>127286</hotelId><arrivalDate>06/02/2015</arrivalDate><departureDate>06/04/2015</departureDate><RoomGroup><Room><numberOfAdults></numberOfAdults></Room></RoomGroup><includeRoomImages>true</includeRoomImages><options>HOTEL_IMAGES</options></HotelRoomAvailabilityRequest>!-->

<div class="col-md-8">
<h1><%=@hoteldetailhash["HotelRoomAvailabilityResponse"]["hotelName"]%></h1>
<h2><%=@hoteldetailhash["HotelRoomAvailabilityResponse"]["hotelCity"]%></h2>
</div>

<div class="col-md-8 col-md-offset-2">

<div id="carousel-example-generic" class="carousel slide">
<!-- Indicators -->


<!-- Wrapper for slides -->
<div class="carousel-inner">


<% counter1 = 0 %>



<%@hoteldetailhash["HotelRoomAvailabilityResponse"]["HotelImages"]["HotelImage"].each do |zebra|%>



<%if counter1 == 0 then %>
<div class="item active peopleCarouselImg">
<%else%>
<div class="item peopleCarouselImg">
<%end%>
  <img class="peopleCarouselImg"  src="<%=zebra["url"].sub("_b","_z")%>" onError="this.onerror=null;this.src='<%=zebra["url"].sub("_b","_b")%>';"alt="">
  <div class="carousel-caption">
     </div>
</div>




<%counter1 = counter1 + 1%>
<%end%>



</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
<span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
<span class="icon-next"></span>
</a>
</div>

<dd style="font-size:12px">It is the responsibility of the hotel chain and/or the individual property to ensure the accuracy of the photos displayed. Hotelwherever is not responsible for any inaccuracies in the photos.</dd>

</div>



<% counter = 0 %>


<div class="panel-group col-md-8 col-md-offset-2 column" id="accordion" role="tablist"            aria-multiselectable="true" >

          <div>

                    <div class="panel-heading" role="tab" id="headingsum">


                         <h4 class="panel-title">





<%@escapedescription = @hotelsummary["HotelInformationResponse"]["HotelDetails"]["propertyDescription"]%>


<%@escapedescription.gsub! '&gt;','>'%>
<%@escapedescription.gsub! '&lt;','<'%>




                    </div>




<%charbreak = @escapedescription.index("</p>") + 3%>
   <div class="panel-body">
<%==@escapedescription[0..charbreak]%>
<a data-toggle="collapse" data-parent="#accordion" href="#collapsesum" aria-expanded="false" aria-controls="collapsesum">



                      <dd>More Hotel Information</dd>

          </a>
      </div>
              </div>




    <div id="collapsesum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsum">
      <div class="panel-body">



<%==@escapedescription[charbreak+1..-1]%>



      </div>
    </div>
</div>


<%@roomhash['HotelRoomAvailabilityResponse']['HotelRoomResponse'].each do |zebra|%>




<%if @roomhash['HotelRoomAvailabilityResponse']['HotelRoomResponse'].class == Hash%>
<%zebra = @roomhash['HotelRoomAvailabilityResponse']['HotelRoomResponse']%>
<%end%>



<div class="panel-group col-md-8 col-md-offset-2 column" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel panel-default">



          <div class="panel-heading" role="tab" id="heading<%=counter%>">


                 <h4 class="panel-title">



                      <dl>




                              <div class="media ">
                              <div class="media-left media-middle ">

                              <% if zebra["RoomImages"] != nil then%>
                                 <% if zebra["RoomImages"]["RoomImage"].class == Array then%>

  <div class="media-left"><img class="media-object " src=<%= zebra["RoomImages"]["RoomImage"][0]["url"]%>></div>
        <%else%>
  <div class="media-left"><img class="media-object " src="<%= zebra["RoomImages"]["RoomImage"]["url"]%>"></div>
                              <%end%><%end%>


                              <div class="media-body " style="padding-bottom:0px">
                                    <h4 class="media-heading"><dt><%= zebra["rateDescription"].html_safe%> <span class="price ">$<%= zebra["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"]%><span class="pricesmall">  rate per night</span></span></dt></h4>



          <dd><%= zebra["locationDescription"]%></dd>




           <!-- <dd><%= zebra["hotelId"]%></dd>  !-->

<div class="amenities"><%==zebra["RoomType"]["descriptionLong"] %></div>

<dd class="amenities"><%= if zebra["RateInfos"]["RateInfo"]["nonRefundable"] == TRUE then "Non Refundable" end%></dd>

  <dd><a class="btn btn-primary" href=<%= zebra["deepLink"].html_safe%>>Book Now</a></dd>



</div>


        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=counter%>" aria-expanded="false" aria-controls="collapse<%=counter%>">



</div>

</dl>

<dd class="amenities">Full Amenities / Further Details >></dd>


        </a>

    </div>
    <div id="collapse<%=counter%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=counter%>">
      <div class="panel-body">

<div>
<ul class="list-inline">
<%zebra["RoomType"]["roomAmenities"]["RoomAmenity"].each do |amenitys|%>
<li><%=amenitys["amenity"]%></li>
<%end%>
</ul>
</div>







     <dd><%= @roomhash["HotelRoomAvailabilityResponse"]["checkInInstructions"].html_safe%></dd>


<b>Cancellation Policy</b>

          <dd><%= zebra["RateInfos"]["RateInfo"]["cancellationPolicy"].html_safe%></dd>
          <dd></dd>
          <dd>The room rates listed are for double occupancy per room unless otherwise stated and exclude tax recovery charges and service fees.</dd>


      </div>
    </div>



<%counter = counter + 1%>

  </div>

</div>


<%if @roomhash['HotelRoomAvailabilityResponse']['HotelRoomResponse'].class == Hash%>
<%break%>
<%end%>




<%end%>

</div>
















<script type="text/javascript">$(function () {
    $('#datepicker').datepicker({
        inline: true,
        //nextText: '→',
        //prevText: '←',
        showOtherMonths: true,
        //dateFormat: 'dd MM yy',
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        //showOn: "button",
        //buttonImage: "img/calendar-blue.png",
        //buttonImageOnly: true,
    });
});





$(function () {
    $('#datepicker2').datepicker({
        inline: true,
        //nextText: '→',
        //prevText: '←',
        showOtherMonths: true,
        //dateFormat: 'dd MM yy',
        dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        //showOn: "button",
        //buttonImage: "img/calendar-blue.png",
        //buttonImageOnly: true,
    });
});




$("#ex2").slider({});




</script>


<script type="text/javascript" >
            $(document).ready(function() {
        $('.carousel').carousel(
{interval:false}
          )

            });



</script>
