


  <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.js"></script>!-->





  <style>
    .container img {
      width:auto;
    }

    body{  font-family: 'Lato', sans-serif;}

    .jumbotron
    {

      height:500px;
      width:100%;
      background-position: center center;
      background-repeat: no-repeat;
      font-weight: 900;
      background-color:#336666;
      color:white;
      background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("http://upload.wikimedia.org/wikipedia/commons/c/c7/Palazzo_Versace_Gold_Coast_-_Panoramic_View.jpg");
      background-size: cover;
    }


    .footerstyle

    {
      background-color:#00CCFF;
      height: 200px;
      ;

    }


    .talldiv {height:200px;}
    .meddiv {height:100px;}

    .short_div {
      color:white;
      height:80px;
    }




    .col_div {
        height:40px;
        text-align:center;
        margin:auto;
            }


    .matchpadding{padding-top:50px;
    }

    h4{font-size:24px;}

    .navbar-fixed-top {
      min-height: 80px;
    }

    .navbar-nav > li > a {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 80px;
    }

    .price{font-size:30px;
      font-weight:900px;
      text-align:right;
      float:right;

    }


    .pricesmall{font-size:12px;
      font-weight:900px;}





      #wrapper {
        padding-left: 75px;
        transition: all 0.4s ease 0s;
      }

      #sidebar-wrapper {
        margin-left: -30px;
        left: 75px;
        width: 250px;
        position: absolute;
        height: 100%;
        z-index: 1000;
        transition: all 0.4s ease 0s;
      }

      #page-content-wrapper {
        width: 100%;
      }

      .sidebar-nav {
        position: absolute;
        top: 0;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
      }
.form-tags{text-align: center;}


      @media (max-width: 767px) {
        .navbar-nav > li > a  {
          line-height: 20px;
          padding-top: 10px;
          padding-bottom: 10px;}
        }

        .age1{display:none;}

        .age2{display:none;}


        .age3{display:none;}

        .errorhandling {
          color:red;
        }

        .check_jumbo{font:size:14px;
        }

        .checkinbox {width:30%;}


        .bottompadding {border-top:50px;}
        .starrating {color: red;
          text-decoration: none;}

          .form-control{color:black;}

          .input-group-lg>.form-control, .input-group-lg>.input-group-addon,
          .input-group-lg>.input-group-btn>.btn {
            height: 49px;}

.background_fill {background-color:white;border-color:black;}




          </style>


<div class="container-fluid">



    <%if (@hotelhash == nil || @check != nil) && @counter == 1 then%>


             <form action="/essentials/hotelwherever" method="get", name="hotelsearch" id="hotelsearch" role="form">


            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


    <div class="col-md-12 jumbotron">





             <div class="col-md-3 short_div" style='font-color:black';">
              <input type="text" name="checkin" id="checkin" placeholder="Check-In" class= "form-control" value="<%=@checkin%>">
              <input type="text" name="checkout" id = "checkout" placeholder="Check-Out"class= "form-control" value="<%=@checkout%>">
             </div>




            <div class="col-md-6 col-xs-12 col-sm-3 hidden-xs short_div">
                   <% if @check.present? %>

                          <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong><%=@check%>
                            </div>



                         <%end%>
              </div>




          <div class="col-md-6 short_div">


            <label for = "ex2">Filter by price interval:  </label><p>$<span id="SliderValMin">100</span> <input id="ex2" type="text" name="pricerange" data-slider-min="50" data-slider-max="1000" data-slider-step="5" data-slider-value="[100,500]"/>$<span id="SliderValMax">500</span>

          </div>


            <div class="col-md-6 short_div">


            </div>



            <div class="col-md-1 col-xs-12 col-sm-3 short_div">


              <label for = "adults">Adults</label>
              <select id="adults" name="adults" class="form-control" placeholder=".col-lg-1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>

              </select>
            </div>



                  <div class="col-md-1 col-xs-12 col-sm-3 short_div children">

                    <label for = "children">Children</label>
                    <select id="children" name="children" class="form-control" placeholder=".col-lg-1">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>


                    </select>

                  </div>






                <div class="col-md-1 col-xs-12 col-sm-3 short_div">

                  <label for = "stars">Stars</label>
                  <select id="stars" name="stars" class="form-control" value="<%=@stars%>" placeholder=".col-lg-1">
                    <option>4</option>
                    <option>4.5</option>
                    <option>5</option>
                  </select>
                </div>





                <div class="col-md-2 col-xs-12 col-sm-3 short_div">
                  <label for = "brand">Brand</label>
                  <select id="brand" name = "brand" class="form-control" placeholder=".col-lg-4 .col-xs-4" value="<%=@chain%>">
                    <option>Any</option>
                    <option>Boscolo</option>
                    <option>Fairmont</option>
                    <option>Four Seasons</option>
                    <option>Hilton</option>
                    <option>Hyatt</option>
                    <option>Intercontinental</option>
                    <option>JW Marriott</option>
                      <option>The Langham</option>
                    <option>Le Meredian</option>
                    <option>Mandarin Oriental</option>
                    <option>Marriott</option>
                    <option>Melia</option>
                    <option>The Peninsula</option>
                    <option>Renaissance</option>
                    <option>Ritz Carlton</option>
                    <option>Shangri-La</option>
                    <option>Sheraton</option>
                    <option>Sofitel</option>
                    <option>St. Regis</option>
                    <option>Starwood Luxury Collection</option>
                    <option>W Hotels</options>
                      <option>Waldorf Astoria</option>
                      <option>Westin</option>
                    </select>

                 </div>



                  <div class="col-md-2 col-xs-12 col-sm-3 short_div">

                    <label for = "temp"> Check-In Temperature</label>
                    <select id="temp" class="form-control" name="temp" placeholder=".col-lg-4">

                      <option>Any</option>
                      <option>90+</option>
                      <option>80+</option>
                      <option>70+</option>
                      <option>60+</option>
                      <option>50+</option>
                    </select>

                  </div>





                    <div class="col-md-2 col-xs-12 col-sm-3 short_div">

                      <label for = "region">Region</label>
                      <select id="region" class="form-control" name="region" placeholder=".col-lg-4" value = "<%=@region%>">
                        <option>Any</option>
                        <option>US</option>
                        <option>Canada</option>
                        <option>Europe</option>
                        <option>South America</option>
                        <option>Asia</option>
                        <option>Latin America and the Caribbean</option>
                        <option>Middle East</option>
                        <option>Australia/Pacific</option>
                        <option>Africa</option>

                      </select>


                    </div>



                    <div class="col-md-2 col-xs-12 col-sm-3 short_div">

                      <label for = "Hotel Type">Hotel Type</label>
                      <select id="hoteltype" name="hoteltype" class="form-control" placeholder=".col-lg-4">
                        <option value=-1>Any</option>
                        <option value=3>Resort</option>
                        <option value=8>All-Inclusive</option>
                        <option value=5>Bed and Breakfast</option>
                        <option value=14>Villa</option>
                        <option value=25>Riad</option>

                      </select>

                    </div>

                  <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-3 short_div age1">
                      <label for = "age1">Child 1 Age</label>
                      <select id="age1" name="age1" class="form-control" placeholder=".col-lg-1">
                        <option value="null" selected="TRUE">Age</option>
                        <option value=0>Under 1</option>
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                        <option value=11>11</option>
                        <option value=12>12</option>
                        <option value=13>13</option>
                        <option value=14>14</option>
                        <option value=15>15</option>
                        <option value=16>16</option>
                        <option value=17>17</option>
                      </select>
                    </div>




                      <div class="col-md-2 col-xs-12 col-sm-3 short_div age2">
                        <label for = "age2">Child 2 Age</label>
                        <select id="age2" name="age2" class="form-control" placeholder=".col-lg-1">
                          <option value="null" selected="TRUE">Age</option>
                          <option value=0>Under 1</option>
                          <option value=1>1</option>
                          <option value=2>2</option>
                          <option value=3>3</option>
                          <option value=4>4</option>
                          <option value=5>5</option>
                          <option value=6>6</option>
                          <option value=7>7</option>
                          <option value=8>8</option>
                          <option value=9>9</option>
                          <option value=10>10</option>
                          <option value=11>11</option>
                          <option value=12>12</option>
                          <option value=13>13</option>
                          <option value=14>14</option>
                          <option value=15>15</option>
                          <option value=16>16</option>
                          <option value=17>17</option>


                        </select>
                      </div>


                        <div class="col-md-2 col-xs-12 col-sm-3 short_div age3">
                          <label for = "age3">Child 3 Age</label>
                          <select id="age3" name="age3" class="form-control" placeholder=".col-lg-1" >
                            <option value ="null" selected="TRUE">Age</option>
                            <option value=0>Under 1</option>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                            <option value=6>6</option>
                            <option value=7>7</option>
                            <option value=8>8</option>
                            <option value=9>9</option>
                            <option value=10>10</option>
                            <option value=11>11</option>
                            <option value=12>12</option>
                            <option value=13>13</option>
                            <option value=14>14</option>
                            <option value=15>15</option>
                            <option value=16>16</option>
                            <option value=17>17</option>



                          </select>
                        </div>


                   </div>




                  <div class="col-md-12 col-xs-12 col-sm-3 short_div" style="padding-top:40px;padding-bottom:40px;text-align:center;">

                    <input type="button" "text="Search" value="Search" id="search" name="search" class="btn btn-info btn-lg" onclick="waitingDialog.show('Searching for Hotels...');setTimeout(function () {waitingDialog.hide();}, 300000);ga('send', 'event', 'Search', 'Click', 'Search');"></a>
                  </div>


   <input value ="<%=@counter%>" name="counter" id="counter" type="hidden">


</form>

      </div>



      <div class="col-md-1 match1 short_div">


      </div>


<%end%>



 <!--else for 2nd page!`-->




    <%if @counter != 1 then%>

             <form action="/essentials/hotelwherever" method="get", name="hotelsearch" id="hotelsearch" role="form">





<div class="panel-group col-md-9 col-md-offset-3">

             <div class="col-md-2" style='font-color:black';">
              <label for = "checkin" style="color:black">Check-In:  </label>
              <input type="text" name="checkin" id="checkin" placeholder="Check-In" class= "form-control" value="<%=@checkin%>">
              </div>
                 <div class="col-md-2" style='font-color:black';">
                  <label for = "checkout" style="color:black">Check-Out:  </label>
              <input type="text" name="checkout" id = "checkout" placeholder="Check-Out"class= "form-control" value="<%=@checkout%>">
             </div>

<div class="col-md-4" style='font-color:black';">
  <label for = "ex2" style="color:black">Filter by price interval:  </label><p style="color:black">$<span id="SliderValMin"><%= @minprice %></span> <input id="ex2" type="text" name="pricerange" data-slider-min="<%= @minprice %>" data-slider-max="<%= @maxprice %>" data-slider-step="5" data-slider-value="[<%= @pricerange %>]"/>$<span id="SliderValMax"><%= @maxprice %></span>
</div>


   <div class="col-md-3" style='font-color:black';">
                    <input type="button" text="Search" value="Search" id="search" name="search" class="btn btn-info btn-lg" onclick="waitingDialog.show('Searching for Hotels...');setTimeout(function () {waitingDialog.hide();}, 300000);ga('send', 'event', 'Search', 'Click', 'Search');">



</div>



            <div class="col-md-6 col-xs-12 col-sm-3 hidden-xs short_div">
                          <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong><%=@check%>
                            </div>

           </div>


           <%end%>




<div class="col-md-12">

      <a data-toggle="collapse" data-parent="#accordion" href="#secondsearch" aria-expanded="false" aria-controls="secondsearch">
<dd class="amenities">Change Search>></dd>

</div>
</div>
        </a>




    <div id="secondsearch" class="panel-collapse collapse background_fill" role="tabpanel" aria-labelledby="headingsearch"style="padding-bottom:30px">



<div class="row">


            <div class="col-md-1 col-xs-12 col-sm-3 col_div">

                     <%adultname = [['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]%>

<div class="formtags"><%= label_tag(:adults, "Adults") %></div>
<%= select_tag(:adults,options_for_select(adultname,[@adults]))%>


            </div>



                  <div class="col-md-1 col-xs-12 col-sm-3 children col_div">


<%childrenname = [['0',0],['1',1],['2',2],['3',3]]%>

<div class="formtags"><%= label_tag(:children, "Children") %></div>
<%= select_tag(:children,options_for_select(childrenname,[@children]))%>

                  </div>






                <div class="col-md-1 col-xs-12 col-sm-3 col_div">


<%starname = [['4','4'],['4.5','4.5'],['5','5']]%>

<div class="formtags"><%= label_tag(:stars, "Stars") %></div>
<%= select_tag(:stars,options_for_select(starname,[@stars]))%>

                </div>



 <div class="col-md-2 col-xs-12 col-sm-3 col_div">
<%brandname = [['Any','Any'],['Boscolo','Boscolo'],['Fairmont','Fairmont'],['Four Seasons','Four Seasons'],['Hilton','Hilton'],['Hyatt','Hyatt'],['Intercontinental','Intercontinental'],['JW Marriott','JW Marriott'],['Le Meredian','Le Meredian'],['Mandarin Oriental','Mandarin Oriental'],['Marriott','Marriott'],['Melia','Melia'],['The Peninsula','The Peninsula'],['The Langham','The Langham'],['Radisson Blu','Radisson Blu'],['Renaissance','Renaissance'],['Ritz Carlton','Ritz Carlton'],['Shangri-La','Shangri-La'],['Sofitel','Sofitel'],['St. Regis','St. Regis'],['Starwood Luxury Collection','Starwood Luxury Collection'],['W Hotels','W Hotels'],['Waldorf Astoria','Waldorf Astoria'],['Westin','Westin']]%>

<div class="formtags"><%= label_tag(:brand, "Brand") %></div>
<%= select_tag(:brand,options_for_select(brandname,[@chain]))%>




                 </div>



                  <div class="col-md-2 col-xs-12 col-sm-3 col_div">


<%tempname = [['Any','Any'],['90+','90+'],['80+','80+'],['70+','70+'],['60+','60+']]%>

<div class="formtags"><%= label_tag(:temp, "Check-In Temp") %></div>
<%= select_tag(:temp,options_for_select(tempname,[@temp]))%>


                  </div>





                    <div class="col-md-3 col-xs-12 col-sm-3 col_div">

<%regionname = [['Any','Any'],['US','US'],['Canada','Canada'],['Europe','Europe'],['South America','South America'],['Asia','Asia'],['Latin America and the Caribbean','Latin America and the Caribbean'],['Middle East','Middle East'],['Australia/Pacific','Australia/Pacific'],['Africa','Africa']]%>

<div class="formtags"><%= label_tag(:region, "Region") %></div>
<%= select_tag(:region,options_for_select(regionname,[@region]))%>

                    </div>



                    <div class="col-md-2 col-xs-12 col-sm-3 col_div">

<%hoteltypename = [['Any',1],['Resort',3],['All-Inclusive',8],['Bed and Breakfast',5],['Villa',14],['Riad',25]]%>

<div class="formtags"><%= label_tag(:hoteltype, "Hotel Type") %></div>
<%= select_tag(:hoteltype,options_for_select(hoteltypename,[@hoteltype]))%>

                    </div>

</div>


                  <div class="row">
                    <div class="col-md-2 col-xs-12 col-sm-3  age1" style='padding-top: 30px;'>



<%age1name = [['Under 1',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11',11],['12',12],['13',13],['14',14],['15',15],['16',16],['17',17]]%>

<%= label_tag(:age1, "Child 1 Age") %>
<%= select_tag(:age1,options_for_select(age1name,[@age1]))%>

                    </div>




                      <div class="col-md-2 col-xs-12 col-sm-3  age2" style='padding-top: 30px;'>

                     <%age2name = [['Under 1',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11',11],['12',12],['13',13],['14',14],['15',15],['16',16],['17',17]]%>

<%= label_tag(:age2, "Child 2 Age") %>
<%= select_tag(:age2,options_for_select(age2name,[@age2]))%>


                      </div>


                        <div class="col-md-2 col-xs-12 col-sm-3 age3" style='padding-top: 30px;'>

                     <%age3name = [['Under 1',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11',11],['12',12],['13',13],['14',14],['15',15],['16',16],['17',17]]%>

<%= label_tag(:age3, "Child 3 Age") %>
<%= select_tag(:age3,options_for_select(age3name,[@age3]))%>




                        </div>










                   </div>



   <input value ="<%=@counter%>" name="counter" id="counter" type="hidden">



              </form>

<hr>

</div>

<%end%>


          <div id="promotions">


  <%= render(:partial => 'accordianload', :locals => {:hotelhash => nil}) %>


</div>







    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>






    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">

      var locations = <%=raw @coordarray%>;

      var map = new google.maps.Map(document.getElementById('map-canvas'), {
       zoom: 4,
       center: new google.maps.LatLng(<%=raw @centerlat%>,<%=raw @centerlong%>),
       mapTypeId: google.maps.MapTypeId.ROADMAP
     });


      var infowindow = new google.maps.InfoWindow({
        content: "HELLO"
      });


      var marker, i;

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
         position: new google.maps.LatLng(locations[i][0], locations[i][1]),
         map: map,
         title: locations[i][2]
       });



        google.maps.event.addListener(marker, 'click', (function(marker, i) {
         return function() {

           infowindow.open(map, marker);
         }
       })(marker, i));
      }

    </script>



    <style>
      .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
      }
      .partially button span {
        background-color: orange;
        border-radius: 32px;
        color: black;
      }
    </style>



    <script type="text/javascript">




      var mySlider = $("#ex2").bootstrapSlider({
        min: 50,
        max: 1000,
        scale: 'logarithmic',
        step: 10
      });

      $("#ex2").on("slide", function(slideEvt) {
        $("#SliderValMin").text(slideEvt.value[0]);
        $("#SliderValMax").text(slideEvt.value[1]);
      });


    </script>


    <script>








      $(function() {
        $( "#checkin" ).datepicker();
        $( "#checkout" ).datepicker();
      });

      $(function() {

        $("#search").click(function(){

          var checkin = document.getElementById('checkin').value;
          var checkout = document.getElementById('checkout').value;
          var region = document.getElementById('region').value;
          var brand = document.getElementById('brand').value;
          var stars = document.getElementById('stars').value;
          var temp = document.getElementById('temp').value;
          var hoteltype = document.getElementById('hoteltype').value;
          var pricerange = document.getElementById('ex2').value;

          var adults = document.getElementById('adults').value;
          var children1 = document.getElementById('children').value;
          var age1a = document.getElementById('age1').value;
          var age2a = document.getElementById('age2').value;
          var age3a = document.getElementById('age3').value;


          var searchstring2 = [checkin,checkout,region,brand,stars,temp,hoteltype,pricerange,adults,children1,age1a,age2a,age3a];

          var searchstring3 = searchstring2.join('|');



          var input2 = $("<input>")
          .attr("type", "hidden")
          .attr("name", "searchstring").val(searchstring3)
          .attr("class","form-control");
          $("#hotelsearch").append($(input2));


          $("#hotelsearch").submit();


        });

  });



  $("#children").change(function(){

    var ageselection = document.getElementById('children').value;
    $(".age1").hide();
    $(".age2").hide();
    $(".age3").hide();



    for (i=1; i <= ageselection;i++) {
      $(".age" + i).show();
    }


  });









  var waitingDialog = (function ($) {

      // Creating modal dialog's DOM
      var $dialog = $(
        '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
        '<div class="modal-dialog modal-m">' +
        '<div class="modal-content">' +
        '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
        '<div class="modal-body">' +
        '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
        '</div>' +
        '</div></div></div>');

      return {
      /**
       * Opens our dialog
       * @param message Custom message
       * @param options Custom options:
       *          options.dialogSize - bootstrap postfix for dialog size, e.g. "sm", "m";
       *          options.progressType - bootstrap postfix for progress bar type, e.g. "success", "warning".
       */
       show: function (message, options) {
        // Assigning defaults
        var settings = $.extend({
          dialogSize: 'm',
          progressType: ''
        }, options);
        if (typeof message === 'undefined') {
          message = 'Loading';
        }
        if (typeof options === 'undefined') {
          options = {};
        }
        // Configuring dialog
        $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
        $dialog.find('.progress-bar').attr('class', 'progress-bar');
        if (settings.progressType) {
          $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
        }
        $dialog.find('h3').text(message);
        // Opening dialog
        $dialog.modal();
      },
      /**
       * Closes dialog
       */
       hide: function () {
        $dialog.modal('hide');
      }
    }

  })(jQuery);




  </script>



