
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script>
/*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
$.widget.bridge('uitooltip', $.ui.tooltip1);
$.widget.bridge('uibutton', $.ui.button1);
$.widget.bridge('slider', $.ui.slider1);
$.widget.bridge('hasDatepicker', $.ui.datepicker2);
</script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



<script type="text/javascript" src="http://seiyria.github.io/bootstrap-slider/javascripts/bootstrap-slider.js"></script>


<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.js"></script>!-->





<style>
.container img {
    width:auto;
    height:20px;

}

body{  font-family: 'Lato', sans-serif;}

.jumbotron
    {

        height:500px;
        width:100%;
        background-position: center center;
  background-repeat: no-repeat;
                font-weight: 900;
         background-color:#336666;
         color:white;
         background-image:url("http://upload.wikimedia.org/wikipedia/commons/c/c7/Palazzo_Versace_Gold_Coast_-_Panoramic_View.jpg");
 background-size: cover;
    }

.footerstyle

{
background-color:#00CCFF;
height: 200px;
;

}


.talldiv {height:200px;}
.meddiv {height:100px;}

.short_div {
  color:black;
    height:80px;
}
.matchpadding{padding-top:50px;
  }

h4{font-size:24px;}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.price{font-size:30px;
  font-weight:900px;
text-align:right;
float:right;

}


.pricesmall{font-size:12px;
  font-weight:900px;}


@media (max-width: 767px) {
    .navbar-nav > li > a  {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}



.errorhandling {
color:red;
}

.check_jumbo{font:size:14px;
}

.checkinbox {width:30%;}


.bottompadding {border-top:50px;}
.starcolor {font:red;}

.form-control{color:black;}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon,
  .input-group-lg>.input-group-btn>.btn {
  height: 49px;}
</style>







<head>

<title>Hotel Wherever</title>




        </head>





<body>





<div class="container-fluid">




<%if @hotelhash == nil || @check != nil then%>


    <form action="/essentials/hotelwherever" method="post", name="hotelsearch">


<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <div class="col-md-12 jumbotron">

         <div class="col-md-3 short_div" style='font-color:black';">
          <input type="text" name="checkin" id="checkin" placeholder="Check-In" class= "form-control">
          <input type="text" name="checkout" id = "checkout" placeholder="Check-Out"class= "form-control">


              </div>

        <div class="col-md-6 short_div">
        <p class="errorhandling"><%=@check%></p>
        </div>


        <div class="col-md-6 short_div">


<label for = "ex2">Filter by price interval:  </label><p>$<span id="SliderValMin">100</span> <input id="ex2" type="text" name="pricerange" data-slider-min="50" data-slider-max="1000" data-slider-step="5" data-slider-value="[100,500]"/>$<span id="SliderValMax">500</span>

          </div>


        <div class="col-md-6 short_div">


        </div>



<div class="col-md-1 short_div">


<label for = "adults">Adults</label>
<select id="adults" name="adults" class="form-control" placeholder=".col-lg-1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>

    </select>
</div>






        <div class="col-md-1 short_div">

<label for = "stars">Stars</label>
<select id="stars" class="form-control" placeholder=".col-lg-1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>


    </select>
</div>



        <div class="col-md-2 short_div">

<label for = "brand">Brand</label>
<select id="brand" name = "brand" class="form-control" placeholder=".col-lg-4" value="<%=@chain%>">
<option>Any</option>
<option>Boscolo</option>
<option>Fairmont</option>
<option>Four Seasons</option>
<option>Hilton</option>
<option>Hyatt</option>
<option>Intercontinental</option>
<option>JW Marriott</option>
<option>Le Meredian</option>
<option>Mandarin Oriental</option>
<option>Marriott</option>
<option>Melia</option>
<option>Radisson Blu</option>
<option>Renaissance</option>
<option>Ritz Carlton</option>
<option>Shangri-La</option>
<option>Sheraton</option>
<option>Sofitel</option>
<option>St. Regis</option>
<option>Starwood Luxury Collection</option>
<option>W Hotels</options>
<option>Waldorf Astoria</option>
<option>Westin</option>
    </select>
</div>

        <div class="col-md-2 short_div">

<label for = "temp">Check-In Temperature</label>
<select id="temp" class="form-control" name= "temp" placeholder=".col-lg-2">
      <option>Any</option>
      <option>90F+</option>
      <option>80F+</option>
      <option>70F+</option>
      <option>60F+</option>
      <option>50F+</option>


    </select>
</div>

<div class="col-md-2 short_div">

<label for = "region">Region</label>
<select id="region" class="form-control" name="region" placeholder=".col-lg-4" value = "<%=@region%>">

      <option >US</option>
      <option >Canada</option>
       <option >Europe</option>
        <option >South America</option>
         <option >Asia</option>
         <option> Latin America and the Caribbean</option>
         <option >Middle East</option>
           <option >Australia/Pacific</option>
           <option >Africa</option>

    </select>


        </div>

        <div class="col-md-2 short_div">

<label for = "Hotel Type">Hotel Type</label>
<select id="Hotel Type" class="form-control" placeholder=".col-lg-4">
      <option>City</option>
      <option>Resort</option>
      <option>All-Inclusive</option>
      <option>Other</option>


    </select>

        </div>




         <div class="col-md-3 short_div" style="padding-top:40px;text-align:center;">



                <input type="submit" "text="Search" class="btn btn-info btn-lg"></a>
        </div>


  </div>



 <div class="col-md-1 match1 short_div">


        </div>

</div>

        </div>









    </form>


<%else%>   <!--else for 2nd page!`-->



<%counterbinary = 0%>
<% counter = 0 %>

<% if counter < 100 then %>


<%if @hotelhash != nil && @check == nil then%>


<!-- ##%@hotelhash = @hotelhash['HotelListResponse']['HotelList']['HotelSummary'].sort_by{|zebra| zebra["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"]} %>  !-->

<%weatherinfo = 0%>






<%@hotelhash['HotelListResponse']['HotelList']['HotelSummary'].sort_by{|zebra| zebra['tripAdvisorReviewCount']}.reverse!.each do |zebra|%>

<% @LAT = @get_latlong.find{|i| i["EANHotelID"] == zebra["hotelId"]}["LAT"]%>
<% @LONG = @get_latlong.find{|i| i["EANHotelID"] == zebra["hotelId"]}["LONG"]%>

<input type="hidden" name="LAT" id="LAT" value = "<%=@LAT%>">
<input type="hidden" name="LONG" id="LONG" value = "<%=@LONG%>">

<%hotelweather = []%>

<% if DateTime.strptime(@checkin,'%m/%d/%Y')-15 < Date.today %>

<%weatherinfo = 1%>
<%weatherurl ="http://api.openweathermap.org/data/2.5/forecast/daily?lat=#{@LAT}&lon=#{@LONG}&cnt=16"%>


<%require 'open-uri'%>
<%weather_search2 = URI.encode(weatherurl)%>
<%weatherjsonfeed = open(weather_search2).read%>
<%@weatherhash = JSON.parse(weatherjsonfeed)%>


<%datelookup = []%>

<%@weatherhash["list"].each do |dates|%>

<%datelookup.push({'date' => dates["dt"],'icon' => dates["weather"][0]["icon"],'desc' => dates["weather"][0]["description"],'max' => (((dates["temp"]["max"].to_f)-273.15)*1.8+32).round(0),'min' => (((dates["temp"]["min"].to_f)-273.15)*1.8+32).round(0),'dateconverted' => DateTime.strptime(dates["dt"].to_s,'%s').strftime('%m/%d/%y') })%>

<%end%>


<% hotelweather = datelookup.select {|date| DateTime.strptime(date["dateconverted"],'%m/%d/%y') >= DateTime.strptime(@checkin,'%m/%d/%Y') && DateTime.strptime(date["dateconverted"],'%m/%d/%y') <= DateTime.strptime(@checkout,'%m/%d/%Y')}%>

<%else%>

<%hotelweather.push({'max' => 1000})%>

<%end%>



<% if hotelweather[0]["max"] >= @temp.to_i then%>



<%counterbinary=1%>

<form id="accordion<%=counter%>" action="/essentials/hoteldetails" method="post" >


<a href="javascript:{}" onclick="document.getElementById('accordion<%=counter%>').submit(); return false;" style="color:black">


<div class="panel-group col-md-8 col-md-offset-2 column" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel panel-default ">

          <div class="panel-heading" role="tab" id="heading<%=counter%>">
                 <h4 class="panel-title">
                      <dl>


                              <div class="media">
                              <div class="media-left media-middle">
 <span class="price">$<%= zebra["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"]%><span class="pricesmall">  rate per night</span></span>

                                    <div class="media-left"><img class="media-object" src="http://media.expedia.com<%= zebra["thumbNailUrl"].sub("_t","_d")%>">  </div>



                              <div class="media-body" style="padding-bottom:0px">
                                    <h4 class="media-heading"><dt><%= zebra["name"].html_safe%> </dt></h4>

          <dd><%= zebra["city"]%></dd>
          <dd><%= zebra["locationDescription"].html_safe%></dd>
           <dd ><%= zebra["hotelRating"]%><i class="fa fa-star starrating"></i><i class="fa fa-star starrating"></i></dd>
           <% shortdesc = zebra["shortDescription"].html_safe %>
  <%=shortdesc[58..-1].html_safe %> <span style="color:blue">...More</span>
           <!-- <dd><%= zebra["hotelId"]%></dd>  !-->
          <!--<dd><a href=<%= zebra["deepLink"]%> style="color:black">Book Now</a></dd>!-->



</div>


        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=counter%>"aria-expanded="false" aria-controls="collapse<%=counter%>" style="color:black">

<%if weatherinfo==1%>
<dd style="padding-top:22px">What is the weather forecast?</dd>
<%end%>

</div>

</dl>


        </a>

    </div>
    <div id="collapse<%=counter%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=counter%>">
      <div class="panel-body">


<%if weatherinfo==1%>
<table class="table">
<%hotelweather.each do |weather|%>
<tr><td><dt>
Date: <%=weather["dateconverted"]%>
<b>High: <%=weather["max"]%> (F)</b>
<b>Low: <%=weather["min"]%> (F)</b>
<img src="http://openweathermap.org/img/w/<%=weather["icon"]%>.png"></dt></td></tr>
<%end%>
</table>
<%end%>

      </div>
    </div>


<%counter = counter + 1%>

<input value = <%= zebra["hotelId"]%> name="hotelid" type="hidden">
<input value ="<%=@checkin%>" name="checkin" type="hidden">
<input value ="<%=@checkout%>" name="checkout" type="hidden">
<input value ="<%=@adults%>" name="adults" type="hidden">


  </div>

</div>

</a>


<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

</form>

<%else%>

  <%end%>
  <%end%>
  <%end%>
<%end%>
<%end%>





        <div class="col-md-6">

        </div>


<div class="panel-group col-md-8 col-md-offset-2">
<div id="map-canvas" style="height:700px">
</div>

</div>



    </div>


<%=@centerlat%>

<%=@centerlong%>



    </div>
</div>



    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>






 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">

var locations = <%=raw @coordarray%>;

var map = new google.maps.Map(document.getElementById('map-canvas'), {
     zoom: 4,
     center: new google.maps.LatLng(<%=raw @centerlat%>,<%=raw @centerlong%>),
     mapTypeId: google.maps.MapTypeId.ROADMAP
});


var infowindow = new google.maps.InfoWindow({
      content: "HELLO"
  });


var marker, i;

for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
         position: new google.maps.LatLng(locations[i][0], locations[i][1]),
         map: map,
         title: locations[i][2]
    });




    google.maps.event.addListener(marker, 'click', (function(marker, i) {
         return function() {

             infowindow.open(map, marker);
         }
    })(marker, i));
}



    </script>



<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>



<script type="text/javascript">




var mySlider = $("#ex2").bootstrapSlider({
    min: 50,
   max: 1000,
    scale: 'logarithmic',
    step: 10
});

$("#ex2").on("slide", function(slideEvt) {
  $("#SliderValMin").text(slideEvt.value[0]);
  $("#SliderValMax").text(slideEvt.value[1]);
});


</script>


<script>


  $(function() {
    $( "#checkin" ).datepicker();
     $( "#checkout" ).datepicker();
   });




  </script>





    </body>
    </html>

