
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">



<style>
.container img {
    width:auto;
    height:20px;

}

body{  font-family: 'Lato', sans-serif;}

.jumbotron
    {

        height:350px;
                font-weight: 900;
         background-color:#336666;
         color:white;
         background-image:url("/assets/bondi2.JPG");
 background-size: cover;
    }

.footerstyle

{
background-color:#00CCFF;
height: 200px;
;

}



.talldiv {height:200px;}
.meddiv {height:100px;}

.short_div {

    height:50px;
}
.matchpadding{padding-top:50px;
  }



.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.price{font-size:25px;
  font-weight:900px;
text-align:right;
float:right;

}


.pricesmall{font-size:12px;
  font-weight:900px;}


@media (max-width: 767px) {
    .navbar-nav > li > a  {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.errorhandling {
color:red;
}

.check_jumbo{font:size:14px;
}

.checkinbox {width:30%;}


.bottompadding {border-top:50px;}
.starcolor {font:red;}



.input-group-lg>.form-control, .input-group-lg>.input-group-addon,
  .input-group-lg>.input-group-btn>.btn {
  height: 49px;}
</style>







<head>

<title>Hotel Wherever</title>




        </head>





<body>





<!--<link rel="stylesheet" href="/app/assets/stylesheets/datepicker.css"> !-->

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.js"></script>

<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>!-->



<script type="text/javascript" src="https://seiyria.github.io/bootstrap-slider/javascripts/bootstrap-slider.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<div class="container-fluid">



    <form action="/essentials/hotelwherever" method="post", name="hotelsearch">


<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <div class="col-md-12 jumbotron">

         <div class="col-md-3 short_div" style='font-color:black';">
          <input type="text" name="checkin" class= "form-control" placeholder="Check-In">
          <input type="text" name="checkout" class = "form-control" placeholder="Check-Out">



              <p class="errorhandling"><%=@check%></p>
              </div>

        <div class="col-md-6 short_div">
        </div>


        <div class="col-md-6 short_div">

        Filter by price interval:  <p>$<span id="SliderValMin">100</span> <input id="ex2" type="text" name="pricerange" data-slider-min="50" data-slider-max="2000" data-slider-step="5" data-slider-value="[100,500]"/>$<span id="SliderValMax">500</span>

          </div>


        <div class="col-md-6 short_div">


        </div>


<div class="col-md-1 short_div">


<label for = "rooms">Rooms</label>
<select id="rooms" class="form-control" placeholder=".col-lg-1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9+</option>

    </select>
</div>



<div class="col-md-1 short_div">


<label for = "adults">Adults</label>
<select id="adults" name="adults" class="form-control" placeholder=".col-lg-1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>

    </select>
</div>




<div class="col-md-1 short_div">

<label for = "children">Children</label>
<select id="children" class="form-control" placeholder=".col-lg-1">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>

    </select>

</div>



        <div class="col-md-1 short_div">

<label for = "stars">Stars</label>
<select id="stars" class="form-control" placeholder=".col-lg-1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>


    </select>
</div>



        <div class="col-md-2 short_div">

<label for = "brand">Brand</label>
<select id="brand" name = "brand" class="form-control" placeholder=".col-lg-4" value="<%=@chain%>">
<option>Boscolo</option>
<option>Fairmont</option>
<option>Four Seasons</option>
<option>Hilton</option>
<option>Hyatt</option>
<option>Intercontinental</option>
<option>JW Marriott</option>
<option>Le Meredian</option>
<option>Mandarin Oriental</option>
<option>Marriott</option>
<option>Melia</option>
<option>Radisson Blu</option>
<option>Renaissance</option>
<option>Ritz Carlton</option>
<option>Shangri-La</option>
<option>Sheraton</option>
<option>Sofitel</option>
<option>St. Regis</option>
<option>Starwood Luxury Collection</option>
<option>W Hotels</options>
<option>Waldorf Astoria</option>
<option>Westin</option>
    </select>
</div>

        <div class="col-md-2 short_div">

<label for = "temp">Temperature</label>
<select id="temp" class="form-control" placeholder=".col-lg-2">
      <option>Any</option>
      <option>90+</option>
      <option>80+</option>
      <option>70+</option>
      <option>60+</option>
      <option>50+</option>


    </select>
</div>
   <div class="col-md-2 short_div">

<label for = "weather">Weather</label>
<select id="weather" class="form-control" placeholder=".col-lg-2">
      <option>Sunny</option>

    </select>


        </div>

<div class="col-md-2 short_div">

<label for = "region">Region</label>
<select id="region" class="form-control" name="region" placeholder=".col-lg-4" value = "<%=@region%>">

      <option >US</option>
      <option >Canada</option>
       <option >Europe</option>
        <option >South America</option>
         <option >Asia</option>
         <option> Latin America and the Caribbean</option>
         <option >Middle East</option>
           <option >Australia/Pacific</option>
           <option >Africa</option>

    </select>


        </div>

        <div class="col-md-2 short_div">

<label for = "Hotel Type">Hotel Type</label>
<select id="Hotel Type" class="form-control" placeholder=".col-lg-4">
      <option>City</option>
      <option>Resort</option>
      <option>All-Inclusive</option>
      <option>Other</option>


    </select>

        </div>




         <div class="col-md-3 short_div" style="padding-top:40px;text-align:center;">



                <input type="submit" "text="Search" class="btn btn-info btn-lg"></a>
        </div>


  </div>



 <div class="col-md-1 match1 short_div">

<input name="city" type="text">

        </div>

</div>

        </div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<script>
$(function() {$('.datepicker').datepicker()});</script>

<div class="well">
<input type="text" name="date" class="datepicker">
</div>





 <link href="/assets/stylesheets/slider.css" rel="stylesheet">
<script type="text/javascript" src="http://seiyria.github.io/bootstrap-slider/javascripts/bootstrap-slider.js"></script>








    </form>



<% counter = 0 %>

<% if counter < 100 then %>


<%if @hotelhash != nil && @check == nil then%>


<%@hotelhash['HotelListResponse']['HotelList']['HotelSummary'].each do |zebra|%>



<form id="accordion<%=counter%>" action="/essentials/hoteldetails" method="post">
<!-- Your Form -->
<a href="javascript:{}" onclick="document.getElementById('accordion<%=counter%>').submit(); return false;">


<div class="panel-group col-md-8 col-md-offset-2 column" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel panel-default">

          <div class="panel-heading" role="tab" id="heading<%=counter%>">
                 <h4 class="panel-title">
                      <dl>


                              <div class="media">
                              <div class="media-left media-middle">

                                    <div class="media-left"><img class="media-object" src="http://media.expedia.com<%= zebra["thumbNailUrl"]%>">  </div>

                              <span class="price">$<%= zebra["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"]%><span class="pricesmall">  rate per night</span></span>


                              <div class="media-body" style="padding-bottom:0px">
                                    <h4 class="media-heading"><dt><%= zebra["name"].html_safe%> </dt></h4>

          <dd><%= zebra["city"]%></dd>
          <dd><%= zebra["locationDescription"]%></dd>
           <dd ><%= zebra["hotelRating"]%><i class="fa fa-star starrating"></i></dd>
           <!-- <dd><%= zebra["hotelId"]%></dd>  !-->
         <dd><a href=<%= zebra["deepLink"]%>>Book Now</a></dd>

<% @LAT = @get_latlong.find{|i| i["EANHotelID"] == zebra["hotelId"]}["LAT"]%>
<% @LONG = @get_latlong.find{|i| i["EANHotelID"] == zebra["hotelId"]}["LONG"]%>

<%weatherurl ="http://api.openweathermap.org/data/2.5/forecast/daily?lat=#{@LAT}&lon=#{@LONG}"%>


<%require 'open-uri'%>
<%weather_search2 = URI.encode(weatherurl)%>
<%weatherjsonfeed = open(weather_search2).read%>
<%@weatherhash = JSON.parse(weatherjsonfeed)%>








</div>


        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=counter%>" aria-expanded="false" aria-controls="collapse<%=counter%>">


<dd>What is the weather forecast?</dd>


</div>

</dl>


        </a>

    </div>
    <div id="collapse<%=counter%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%=counter%>">
      <div class="panel-body">


<p>High Temp (F) <%=(((@weatherhash["list"][0]["temp"]["max"].to_f)-273.15)*1.8+32).round(0)%></p>
<p>Low Temp (F) :<%=(((@weatherhash["list"][0]["temp"]["min"].to_f)-273.15)*1.8+32).round(0)%></p>




      </div>
    </div>


<%counter = counter + 1%>

<input value = <%= zebra["hotelId"]%> name="hotelid" type="hidden">
<input value ="<%=@checkin%>" name="checkin" type="hidden">
<input value ="<%=@checkout%>" name="checkout" type="hidden">
<input value ="<%=@adults%>" name="adults" type="hidden">


  </div>

</div>

</a>


<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

</form>


  <%end%>
  <%end%>
<%end%>

<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>

        <div class="col-md-6">
            <p class="input-group">

            </p>
        </div>
    </div>



<script type="text/javascript">



$("#ex2").slider({

    min: 50,
   max: 2000,
    scale: 'logarithmic',
    step: 10
});

$("#ex2").on("slide", function(slideEvt) {
  $("#SliderValMin").text(slideEvt.value[0]);
  $("#SliderValMax").text(slideEvt.value[1]);
});



</script>




    </body>
    </html>
