<!DOCTYPE html>
<html>
<head>
  <title>Hotel Wherever</title>

  <meta name="description" content="Search for your favorite luxury hotel brands anywhere in the world.  Plan your next vacation around your hotel choice.  ">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script>
/*** Handle jQuery plugin naming conflict between jQuery UI and Bootstrap ***/
$.widget.bridge('uitooltip', $.ui.tooltip1);
$.widget.bridge('uibutton', $.ui.button1);
$.widget.bridge('slider', $.ui.slider1);
$.widget.bridge('hasDatepicker', $.ui.datepicker2);
</script>
  <%= csrf_meta_tags %>




<style>

* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;

}
.footer, .push {
height: 6em;


}


.footer {background-color:#5e5e5e;}


.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css"


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>




<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



<script type="text/javascript" src="http://seiyria.com/bootstrap-slider/js/bootstrap-slider.js"></script>

<script src="http://bootstrapdocs.com/v2.0.3/docs/assets/js/bootstrap-carousel.js"></script>



</head>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/assets/logo2.png" style="max-width:300px; margin-top: -7px;"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
    <!--    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->

     <!--   <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right"  style="vertical-align=center">
       <li><a href="https://travelnow.com/selfService/searchform?cid=489058&lang=en">My Reservations</a></li>
       <%if current_user.present?%>
 <li><a href="/users/edit">Welcome, <%=current_user.email%></a></li>
<%end%>
      <%if current_user.present?%>
      <li><a href="/users/sign_out" data-method="delete">Sign-Out</a></li>
      <%else%>
        <li><a href="/users/sign_in">Sign-In</a></li>
        <li><a href="/users/sign_up">Sign-Up</a></li>
        <%end%>
     <!--   <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>  -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>









<%if alert.present?%>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%=alert%>
</div>
<%end%>


<%if notice.present?%>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong><%=notice%>
</div>
<%end%>


   <div class="wrapper">


<%= yield %>


   <div class="push"></div>
</div>
</div>
<%end%>

<div class="footer">

  <span><a href="/contactus.html"> Contact Us</a></span>
<span><a href="/aboutus.html"> About Us</a></span>
   <span><a href="http://travel.ian.com/index.jsp?pageName=userAgreement&locale=en_US&cid=489058">Terms and Conditions</a></span>
<br>

   <span>US and Canada: 1-800-780-5733 Europe: 00-800-11-20-11-40 Promo Code 489058</span>
<br>
<span> © 2015 HotelWherever™ All rights reserved.</span>
<span>
Ratings and Reviews Powered By <img style ="height:30px" src="http://www.tripadvisor.com/img/cdsi/langs/en/tripadvisor_logo_transp_280x60-MCID-0.png">
</span>
<span><a href="http://www.tripadvisor.com/pages/terms.html"> © Tripadvisor 2015</a></span>
</div>



</body>



</html>


<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42060839-1', 'auto');
  ga('send', 'pageview');



</script>


<script>


$("#triplink").click(function(){ return false; });

$("#sortfilter").change(function(){

$("#filters").change();

});



  $("#filters").change(function(){


    var checkin = document.getElementById('checkin').value;
    var numresults = document.getElementById('filterresults').value;
    var hotelhash = document.getElementById('hotelhash').value;
    var get_latlong = document.getElementById('get_latlong').value;
    var chainid = document.getElementById('chainid').value;
    var checkout = document.getElementById('checkout').value;
    var coordarray = document.getElementById('coordarray').value;
     var centerlat = document.getElementById('centerlat').value;
      var centerlong = document.getElementById('centerlong').value;
    var pricea = document.getElementById('pricea').checked;
    var priceb = document.getElementById('priceb').checked;
    var pricec = document.getElementById('pricec').checked;
    var priced = document.getElementById('priced').checked;
    var pricee = document.getElementById('pricee').checked;
    var pricef = document.getElementById('pricef').checked;
    var hyatt = document.getElementById('hyatt').checked;
    var whotels = document.getElementById('whotels').checked;
    var waldorf = document.getElementById('waldorf').checked;
    var fourseasons = document.getElementById('fourseasons').checked;
    var hilton = document.getElementById('hilton').checked;
    var radissonblu = document.getElementById('radissonblu').checked;
    var renaissance = document.getElementById('renaissance').checked;
    var sheraton = document.getElementById('sheraton').checked;
    var stregis = document.getElementById('stregis').checked;
    var westin = document.getElementById('westin').checked;
    var boscolo = document.getElementById('boscolo').checked;
    var fairmont = document.getElementById('fairmont').checked;
    var intercontinental = document.getElementById('intercontinental').checked;
    var jwmarriott = document.getElementById('jwmarriott').checked;
    var lemeridian = document.getElementById('lemeridian').checked;
    var mandarin = document.getElementById('mandarin').checked;
    var marriott = document.getElementById('marriott').checked;
    var melia = document.getElementById('melia').checked;
    var shangra = document.getElementById('shangra').checked;
    var sofitel = document.getElementById('sofitel').checked;
    var starwoodlux = document.getElementById('starwoodlux').checked;
    var swisshotel = document.getElementById('swisshotel').checked;
    var langham = document.getElementById('langham').checked;
    var peninsula = document.getElementById('peninsula').checked;
    var sorting = document.getElementById('sorting').value;
    var counter = document.getElementById('counter').value;

     var us = document.getElementById('us').checked;
    var canada = document.getElementById('canada').checked;
    var europe = document.getElementById('europe').checked;
    var latin = document.getElementById('latin').checked;
    var asia = document.getElementById('asia').checked;
    var africa = document.getElementById('africa').checked;
    var australia = document.getElementById('australia').checked;
    var middleeast = document.getElementById('middleeast').checked;
    var southamerica = document.getElementById('southamerica').checked;

var brandstring =[]
    if(hyatt==1) { brandstring.push('65');}
    if(whotels==1) {brandstring.push('706');}
    if(waldorf==1) {brandstring.push('2194');}
    if(fourseasons==1) {brandstring.push('2130');}
    if(hilton==1) {brandstring.push('2146');}
    if(radissonblu==1) {brandstring.push('2431');}
    if(renaissance==1) {brandstring.push('15');}
    if(sheraton==1) {brandstring.push('130');}
    if(stregis==1) {brandstring.push('2045');}
    if(westin==1) {brandstring.push('152');}
     if(boscolo==1) {brandstring.push('2533');}
     if(fairmont==1) {brandstring.push('209');}
     if(intercontinental==1) {brandstring.push('66');}
     if(jwmarriott==1) {brandstring.push('2599');}
     if(mandarin==1) {brandstring.push('91');}
     if(marriott==1) {brandstring.push('86');}
     if(melia==1) {brandstring.push('2433');}
     if(shangra==1) {brandstring.push('129');}
     if(sofitel==1) {brandstring.push('272');}
     if(starwoodlux==1) {brandstring.push('320');}
     if(swisshotel==1) {brandstring.push('132');}
     if(langham==1) {brandstring.push('2585');}
     if(peninsula==1) {brandstring.push('2025');}
     if(lemeridian==1) {brandstring.push('87');}


var regionstring =[]
   if(asia==1) { regionstring.push('Asia');}
   if(us==1) { regionstring.push('US');}
   if(southamerica==1) { regionstring.push('South America');}
   if(australia==1) { regionstring.push('Australia/Pacific');}
   if(latin==1) { regionstring.push('Latin America and the Caribbean');}
   if(europe==1) { regionstring.push('Europe');}
   if(africa==1) { regionstring.push('Africa');}
   if(canada==1) { regionstring.push('Canada');}
   if(middleeast==1) { regionstring.push('Middle East');}



    var url = "/essentials/filter";
    var firstformtoggle = 0;

    $.ajax({
      type: 'POST',
      url: url,
      dataType:'script',
      data: {hotelhash: JSON.stringify(hotelhash),get_latlong:get_latlong,checkin:checkin,checkout:checkout,filterresults:numresults,pricea:pricea,priceb:priceb,pricec:pricec,priced:priced,pricee:pricee,pricef:pricef,firstformtoggle:firstformtoggle,brandstring:brandstring,chainid:chainid,whotels:whotels,hyatt:hyatt,waldorf:waldorf,fourseasons:fourseasons,hilton:hilton,radissonblu:radissonblu,renaissance:renaissance,sheraton:sheraton,stregis:stregis,westin:westin,boscolo:boscolo,renaissance:renaissance,fairmont:fairmont,intercontinental:intercontinental,jwmarriott:jwmarriott,lemeridian:lemeridian,mandarin:mandarin,marriott:marriott,melia:melia,shangra:shangra,sofitel:sofitel,starwoodlux:starwoodlux,langham:langham,peninsula:peninsula,coordarray:coordarray,centerlat:centerlat,centerlong:centerlong,sorting:sorting,counter:counter,regionstring:regionstring,us:us,canada:canada,europe:europe,africa:africa,australia:australia,asia:asia,middleeast:middleeast,latin:latin,southamerica:southamerica}
    });
});


$body = $("body");

$(document).on({
    ajaxStart: function() { $body.addClass("loading");    },
     ajaxStop: function() { $body.removeClass("loading"); }



});

  </script>


